---
title: Sample Tech Radar
---
<!-- Initialize data variables, they will be used
by the radar chart and by the search box -->
<script type="application/javascript">
  const baseUrl = '{{ site.baseurl }}';
  const blips = {{ site.blips | jsonify }}
    .map(b => {
      b.url = baseUrl + b.url;
      return b;
    });
  const rings = {{ site.data.rings | jsonify }};
  const quadrants = {{ site.data.quadrants | jsonify }};
</script>

{% include radar.html %}

{% include search.html %}

{% include whatis.html %}
