---
title: Sample Tech Radar
---
<h1>Sample Tech Radar</h1>

<svg id="radar"></svg>

<script type="module">
  import { create_chart } from 'https://cdn.jsdelivr.net/npm/blips-chart@1.2.0/dist/blips-chart.js';
  const blips = {{ site.blips | jsonify }};
  const rings = {{ site.rings | jsonify }};
  const quadrants = {{ site.quadrants | jsonify }};

  create_chart({
    svg_id: "radar",
    colors: {
      background: "#1d1d1d",
      grid: "#ddd"
    },
    quadrants: quadrants,
    rings: rings,
    entries: blips,
  });
</script>

<table>
  <thead>
    <th>
      Tech
    </th>
    <th>
      Quadrant
    </th>
    <th>
      Ring
    </th>
  </thead>
  <tbody>
    {% for blip in site.blips %}
    <tr>
      <td>
        <a href="{{ blip.url | relative_url }}">
          {{ blip.title }}
        </a>
      </td>
      <td>
        {{ blip.quadrant }}
      </td>
      <td>
        {{ blip.ring }}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h2>Rings</h2>
<ul>
  {% for ring in site.rings %}
  <li>
    {{ ring.name }}
    <p>
      {{ ring.content | markdownify }}
    </p>
  </li>
  {% endfor %}
</ul>

<h2>Quadrants</h2>
<ul>
  {% for quadrant in site.quadrants %}
  <li>
    {{ quadrant.name }}
    <p>
      {{ quadrant.content | markdownify }}
    </p>
  </li>
  {% endfor %}
</ul>