<h2>Search</h2>
<!-- Code base on https://www.mikedane.com/web-development/css/styling-search-bar/ -->
<div class="search-bar">
  <input placeholder="Search" type="text">
</div>

<div class="search-results">
  <ul>

  </ul>
</div>

<div class="search-areas">
  {% include areas.html %}
</div>
<div class="search-tools">
  <a href="{{ '/all-blips.html' | relative_url }}">Show all</a>
</div>

<script type="text/javascript">
  const searchBar = document.querySelector("div.search-bar input");
  const searchResults = document.querySelector("div.search-results ul");

  function addBlipResult(blip) {
    const newElement = document.createElement("li");
    const newElementLink = document.createElement("a");
    newElementLink.href = blip.url;
    newElementLink.innerText = `${blip.title} (${blip.ring})`;
    newElement.appendChild(newElementLink);
    searchResults.appendChild(newElement);
  }

  searchBar.addEventListener("keyup", (e) => {
    const searchValue = e.target.value.toLowerCase();
    if (searchValue.length > 2) {
      searchResults.innerHTML = "";
      const exactMatches = blips
        .filter(b => b.title && b.title.toLowerCase().includes(searchValue));
      for (const blip of exactMatches) {
        addBlipResult(blip);
      }
      const partialMatches = blips
        .filter(b => b.content && b.content.toLowerCase().includes(searchValue))
        .filter(b => !exactMatches.includes(b));
      for (const blip of partialMatches) {
        addBlipResult(blip);
      }
    }
  })
</script>