body {
    background-color: #1d1d1d;
    color: white;
    font-size: 18px;
}

a, a:visited {
    color: white;
}

h1, h2, h3 {
    line-height: 1.5em;
    line-height: 1.5em;
}

h1 {
    font-weight: bold;
    font-size: 1.6em;
    color: #f75258;
}
h2 {
    font-size: 1.4em;
    color: #54f6d1
}
h3 {
    font-size: 1.2em;
    color: #54f6d1
}

p {
    line-height: 1.5em;
}

strong {
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    div {
        padding: 1em;
        margin: 0 auto;
    }
}

.columns {
    display: flex;
    flex-direction: row;
    div
    {
        flex: 1;
    }
}

.alternate1 {
    background-color: #5371f7;
}

.alternate2 {
    background-color: #f75258;
}

table {
    width: 100%;
    border-collapse: collapse;
    th {
        text-align: left;
        color: #54f6d1
    }
}

table, th, td {
    border: 1px solid #ddd;
    padding: 0.5em;
}