---
layout: default
---
<section class="box blip-detail-box">

    <div class="properties">
        <span class="ring {{ page.ring }}">{{ page.ring }}</span>
        <span class="website"><a href="{{ page.website }}">{{ page.website }}</a></span>
        <span class="quadrant">{{ page.quadrant }}</span>
    </div>

    <h2>{{ page.title }}</h2>

    {{ content }}

    <div class="categories">
        <ul class="cloud">
            <li>categories:</li>
            {% for category in page.categories %}
            <li>
                <a href="{{ '/categories/' | append: category | relative_url }}">{{ category }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
