---
layout: default
---
<section class="page">

    <h3 class="ring-{{ page.ring }}">{{ page.ring }}</h3>
    <h2>{{ page.longTitle }}</h2>

    {{ content }}

    <div class="properties">
        <div class="website"><a href="{{ page.website }}">Website</a></div>
        <div class="categories">
            <span>categories:</span>
            <ul>
                {% for category in page.categories %}
                <li>
                    <a href="{{ '/categories/' | append: category | relative_url }}">{{ category }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="quadrant">
            quadrant:
            {{ page.quadrant }}
        </div>
    </div>
</section>
