---
layout: default
---
<!-- Initialize data variables, they will be used
by the radar chart and by the search box -->
<script type="application/javascript">
  const stack = '{{ page.stack }}';
  const baseUrl = '{{ site.baseurl }}';
  const blips = {{ site.blips | jsonify }}
    .filter(b => {
      return b.stack.includes(stack);
    })
    .map(b => {
      b.url = baseUrl + b.url;
      return b;
    });
  const rings = {{ site.data.rings | jsonify }};
  const quadrants = {{ site.data.quadrants | jsonify }};
</script>

{% include stacks.html %}

{% include radar.html %}

{% include search.html %}
