---
layout: default
---
<section class="page">

    <header>
        <h2>
            {{ page.title }}
        </h2>
    </header>

    {{ content }}

    <table>
    <thead>
        <th>
        Tech
        </th>
        <th>
        Quadrant
        </th>
        <th>
        Ring
        </th>
    </thead>
    <tbody>
        {% assign blips = site.blips | sort: 'title' %}
        {% for blip in blips %} {% if blip.testimonials contains page.slug %}
        <tr>
        <td>
            <a href="{{ blip.url | relative_url }}">
            {{ blip.title }}
            </a>
        </td>
        <td>
            {{ blip.quadrant }}
        </td>
        <td>
            {{ blip.ring }}
        </td>
        </tr>
        {% endif %} {% endfor %}
    </tbody>
    </table>
</section>
